$def with (form, text)

<!doctype html>

<html>

    <head>
        <title>Projeto</title>
        
        <!-- JQuery Files-->
        <link type="text/css"href="static/widgets/jqwidgets/styles/jqx.base.css" rel="stylesheet"/>
        <script type="text/javascript" src="static/widgets/scripts/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="static/widgets/jqwidgets/jqxcore.js"></script>
        <script type="text/javascript" src="static/widgets/jqwidgets/jqxbuttons.js"></script>
        <script type="text/javascript" src="static/widgets/jqwidgets/jqxswitchbutton.js"></script>
        <script type="text/javascript" src="static/widgets/jqwidgets/jqxradiobutton.js"></script>
        <script type="text/javascript" src="static/widgets/jqwidgets/jqxscrollbar.js"></script>
        <script type="text/javascript" src="static/widgets/jqwidgets/jqxtextarea.js"></script>
        <script type="text/javascript" src="static/widgets/jqwidgets/jqxlistbox.js"></script>
        <script type="text/javascript" src="static/widgets/jqwidgets/jqxdropdownlist.js"></script>
        <script type="text/javascript" src="static/widgets/jqwidgets/jqxcalendar.js"></script>
        <script type="text/javascript" src="static/widgets/jqwidgets/jqxloader.js"></script>       
        <script type="text/javascript" src="static/widgets/jqwidgets/jqxnumberinput.js"></script>
        <script type="text/javascript" src="static/widgets/jqwidgets/jqxdatetimeinput.js"></script>
        <script type="text/javascript" src="static/widgets/jqwidgets/jqxrating.js"></script>
        <script type="text/javascript" src="static/widgets/jqwidgets/globalization/globalize.js"></script>

        <!-- Google Charts   -->
        <!--<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>-->

        <!-- Local Functions   -->
        <script type="text/javascript" src="/static/methods.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/style.css" />

    </head>
 
    <body>
        <br>
        <div id="desc_div">
            <h1> Projeto </h1>
            <h2>Unicamp - IA369 W</h1>
            <!--<h2>Projeto</h1>-->
            <br>
                <!--<h3>Filipe Reis         -  RA:091202</h3>-->
                <!--<h3>Guilherme Camara    -  RA:106694</h3>-->
                <!--<h3>Gabriel Divino      -  RA:116932</h3>-->
            <br>
            <br>
            <hr>
                <h3>Aperte <b>Start</b> para começar</h3>

                <br>
                <div id="start">Start</div>
                <br>
                <h3>Aperte <b>Resultados</b> para ver sobre esta pesquisa</h3>
                <div id="research">Resultados</div>
                <!--<div id="research_page"></div>-->
        </div>
        <div id="result_chart_div">
            <h2> Qual gráfico você prefere? </h2>
            <table>
                <tr>
                    <td><img id="result_chart1" height="400px" width="600px"></img></td>
                    <td><img id="result_chart2" height="400px" width="600px"></img></td>
                </tr>
                <tr>
                    <td><div id="eval_1">Gráfico 1</div></td>
                    <td><div id="eval_2">Gráfico 2</div></td>
                </tr>
            <hr>
        </div>
        <div id="evaluate_div">
            <table>
                <tr>
                    <!--<h2>Evaluate:</h2>-->
                    <td><div id='evaluate'></div></td>
                </tr>
            </table>
        </div>
        <br></br>
        <div id="thanks_div">
            <h2>Obrigado por participar! :D</h2>
            <br>
            <br>
            <hr>
            <h3>Aperte Reset para recomeçar</h3>
        </div>
        <div id="reset">Reset</div>
    </body>
</html>
