$def with (form, text)

<!doctype html>

<html>

    <head>
        <title>Projeto</title>
        
        <!-- JQuery Files-->
        <link type="text/css"href="static/widgets/jqwidgets/styles/jqx.base.css" rel="stylesheet"/>
        <script type="text/javascript" src="static/widgets/scripts/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="static/widgets/jqwidgets/jqxcore.js"></script>
        <script type="text/javascript" src="static/widgets/jqwidgets/jqxbuttons.js"></script>
        <script type="text/javascript" src="static/widgets/jqwidgets/jqxswitchbutton.js"></script>
        <script type="text/javascript" src="static/widgets/jqwidgets/jqxradiobutton.js"></script>
        <script type="text/javascript" src="static/widgets/jqwidgets/jqxscrollbar.js"></script>
        <script type="text/javascript" src="static/widgets/jqwidgets/jqxtextarea.js"></script>
        <script type="text/javascript" src="static/widgets/jqwidgets/jqxlistbox.js"></script>
        <script type="text/javascript" src="static/widgets/jqwidgets/jqxdropdownlist.js"></script>
        <script type="text/javascript" src="static/widgets/jqwidgets/jqxcalendar.js"></script>
        <script type="text/javascript" src="static/widgets/jqwidgets/jqxloader.js"></script>       
        <script type="text/javascript" src="static/widgets/jqwidgets/jqxnumberinput.js"></script>
        <script type="text/javascript" src="static/widgets/jqwidgets/jqxdatetimeinput.js"></script>
        <script type="text/javascript" src="static/widgets/jqwidgets/jqxrating.js"></script>
        <script type="text/javascript" src="static/widgets/jqwidgets/globalization/globalize.js"></script>

        <!-- Google Charts   -->
        <!--<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>-->

        <!-- Local Functions   -->
        <script type="text/javascript" src="/static/methods.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/style.css" />

    </head>
 
    <body>
        <br>
        <div id="desc_div">
            <h1> Projeto </h1>
            <h2>Unicamp - IA369 W</h1>
            <br>
                <p>
          Esse projeto foi desenvolvido para a disciplina de visualização de dados (IA369W),
          lecionada pela professora Paula Dornhofer Paro Costa para pós-graduação na Faculdade
          de Engenharia Elétrica (FEEC) da Universidade Estadual de Campinas durante o primeiro semestre de 2017.
          <br><br>
          O projeto tem como objetivo conduzir um estudo prático sobre percepção humana aplicada à visualização de
          dados, possibilitando uma comparação dos resultados com referências estudadas na disciplina.
          <br><br>
          Os resultados apresentados são preliminares, visto que uma pesquisa maior e mais controlada seria necessária
          para resultados definitivos, o que foge do escopo do projeto.

          Este projeto pode ser encontrado no github: <a href="https://github.com/guilines/ia369_project">ia369_project</a>
                    <br>
                    O relatório completo está disponível em: <a href="https://github.com/guilines/ia369_project/blob/master/Report.pdf">Report</a>
          <br><br>
          <b>Autores</b>:
          <br>
          Filipe Antonio de Barros Reis
          <br>
          Guilherme Augusto Câmara
          <br>
          Gabriel Lisbôa Guimarães Divino
        </p>
            <br>
            <br>
            <hr>
                <h3>Aperte <b>Start</b> para começar</h3>

                <br>
                <div id="start">Start</div>
                <br>
                <h3>Aperte <b>Resultados</b> para ver sobre esta pesquisa</h3>
                <div id="research">Resultados</div>
                <!--<div id="research_page"></div>-->
        </div>
        <div id="result_chart_div">
            <h2> Qual gráfico você prefere? </h2>
            <table>
                <tr>
                    <td><img id="result_chart1" height="400px" width="600px"></img></td>
                    <td><img id="result_chart2" height="400px" width="600px"></img></td>
                </tr>
                <tr>
                    <td><div id="eval_1">Gráfico 1</div></td>
                    <td><div id="eval_2">Gráfico 2</div></td>
                </tr>
            <hr>
        </div>
        <div id="evaluate_div">
            <table>
                <tr>
                    <!--<h2>Evaluate:</h2>-->
                    <td><div id='evaluate'></div></td>
                </tr>
            </table>
        </div>
        <br></br>
        <div id="thanks_div">
            <h2>Obrigado por participar! :D</h2>
            <br>
            <br>
            <hr>
            <h3>Aperte Reset para recomeçar</h3>
        </div>
        <div id="reset">Reset</div>
    </body>
</html>
